<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Signin Dibo-Recast</title>

    <link rel="icon" type="image/png" sizes="32x32" href="/images/bestrunlogo.png">

    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/signin.css" rel="stylesheet" type="text/css">

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/docs/4.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


    <link href="http://getbootstrap.com/docs/4.2/examples/sign-in/signin.css" rel="stylesheet">
</head>
<body class="text-center">
	<form action="/register" method="POST" class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal"> Fill up the form to get a user!</h1>
        <br>
        <input type="text" class="form-control" name="username" placeholder="username">
        <input type="text" class="form-control" name="nombre" placeholder="Nombre">
        <input type="text" class="form-control" name="apellido" placeholder="apellido">
        <input type="password" class="form-control" name="password" placeholder="password">
        <div>
            <br>
            <button class="btn btn-lg btn-primary btn-block">Register!</button>
        </div>

        <p class="mt-5 mb-3 text-muted">&copy; SAP Presales México 2018-2019</p>

    </form>
</body>
</html>
